<h1 class="title">Seminar Registration</h1>
<form [formGroup]="mainForm" (submit)="onSubmit()" novalidate>
  <div class="wrapper">

    <div class="box">
      <app-step-attendees
              [mainForm]="mainForm"
              (registerStep)="onRegisterStep($event)"
      ></app-step-attendees>
    </div>

    <div class="box">
      <app-step-badges-accommodation
              [mainForm]="mainForm"
              (registerStep)="onRegisterStep($event)"
      ></app-step-badges-accommodation>
    </div>

    <div class="box">
      <app-step-rock
              [mainForm]="mainForm"
              (registerStep)="onRegisterStep($event)">
      </app-step-rock>
    </div>

  </div>
</form>

<p>Form value: {{ mainForm.value | json }}</p>
<p>Form status: {{ mainForm.status | json }}</p>